/* nav bar */

nav {
    background-color: grey;
    width: 100%;

}

a {
    color: black;
}

nav li {
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
    font-weight: 900;
    color: black;
    
}

.header {
    margin: 0 auto;
    font-size: 35px;
    text-align: center;
}


/* Colours */

.colourslabel {
    margin-left: 500px;
}

.colours {
    width: 1350px;
    margin: 30px auto;
}

.colour_hex {
    position:relative;
    top: 260px;
    width: 50%;
    margin: 0 auto;
    color: white;
    font-size: 35px;
    font-weight: 600;
    text-align: center;

}

.colour_name {
    color: white;
    width: 50%;
    position: relative;
    top: 280px;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.colour1 {
    height: 600px;
    width: 250px;
    background-color: #225564;
    display: inline-block;
    border-radius: 8%;
    
}

.colour2 {
    height: 600px;
    width: 250px; 
    background-color: #47798C;
    display: inline-block;
    border-radius: 8%;
   
}

.colour3 {
    height: 600px;
    width: 250px;
    background-color: #7AA9BF;
    display: inline-block;
    border-radius: 8%;
    
}

.colour4 {
    height: 600px;
    width: 250px;
    background-color: #D3A9AB;
    display: inline-block;
    border-radius: 8%;
}

.colour5 {
    height: 600px;
    width: 250px;
    background-color: #E4CED0;
    display: inline-block;
    border-radius: 8%;

}

/* Font section */

.title {
    margin: 30px auto;
    width: 20%;
    text-align: center;
    font-size: 30px
}

table {
    border: 2px solid black;
    margin: 30px auto;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    table-layout: auto;
    text-align: center;
    font-size: 25px;
    padding: 15px;
}

/* Text Style Section */ 



.container {
    border: 1px solid black;
    width: 60%;
    margin: 0 auto;
    font-size: 25px;
    padding-left: 40px;
    margin-bottom: 50px;
}